  @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;1,200;1,300&family=Ubuntu&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
}
:root{
    --bg-color : #191919;
    --secont-bg-color: #101010;
    --main-color: #e9204f;
    --text-color: #fff;
    --second-color: #e4e4e4;
    --other-color: #c6c9d8bf;

    --h1-font: 7rem;
    --h2-font: 3.5rem;
    --p-font: 1.1rem;
}
body{
    color: var(--text-color);
    background-color: var(--bg-color);
}
header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 11%;
    border-bottom: 1px solid transparent;
    transition: all ease .50s;
}
.logo{
   background: var(--main-color);
   color: #fff;
   width: 100px;
   height: 100%;
   padding: 10px;
   text-align: center;
   border-radius: 20px;
   letter-spacing: 3px;
   font-size: 22px;
   font-weight: 600;
}
.navlist{
    display: flex;
}
.navlist a{
    color: var(--second-color);
    font-size: var(--p-font);
    font-weight: 600;
    margin: 0 40px;
    transform: all ease .40s;
}
.navlist a:hover{
    color: var(--main-color);
    transition: .5s;
}
section{
    padding: 120px 19% 100px;
}
.home{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    /* background: url(img2.jpg); */
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.left-img{
    margin-left: 45px;
}
.left-img img{
    width: 100%;
    height: auto;
}
.hero-text h3{
    color: var(--second-color);
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    word-spacing: 10px;
}
.hero-text h1{
    font-size: var(--h1-font);
    color: var(--text-color);
    font-weight: 800;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.hero-text h4{
    color: var(--second-color);
    font-size: 25px;
    font-weight: 600;
    word-spacing: 15px;
    margin-bottom: 3.5rem;
}
.btn{
    display: inline-block;
    padding: 16px 45px;
    background: var(--main-color);
    color: var(--p-font);
    font-weight: 600;
    border: 2px solid var(--main-color);
    transition: all ease .50s;
}
.btn:hover{
    transform: translateX(5px);
    background: transparent;
    border: 2px solid var(--main-color);
}
#menu-icon{
    display: none;
    transition: 1s;
}
header.sticky{
    padding: 15px 11%;
    background: #000;
    border-bottom: 1px solid #4e5055;
}
.about{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    gap: 4rem;
}
.about-img img{
    width: 100%;
    height: auto;
}
.about-text h2{
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 10px;
}
.about-text h5{
    font-size: 22px;
    margin-bottom: 20px;
    line-height: 1.4;
}
span{
    color: var(--main-color);
}
.about-text p{
    color: var(--other-color);
    font-size: 30px;
    margin-bottom: 3rem;
    font-size: var(--p-font);
}
.service{
    background: var(--secont-bg-color);
}
.text-center{
    text-align: center;
}
.about-text h2{
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 10px;
}
.text-center h4{
    font-size: 22px;
    font-weight: 500;
}
.service-item{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.2rem;
    text-align: center;
    margin-top: 4rem;
}
.service-box{
    padding: 45px 30px;
    background: var(--bg-color);
    border-radius: 0.8rem;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all ease .50s;
}
.service i{
    font-size: 50px;
    color: var(--main-color);
    margin-bottom: 10px;
}
.service h3{
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 12px;
}
.service p{
    color: var(--other-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 1.5rem;
}
.s-btnn{
    display: inline-block;
    padding: 9px 24px;
    background: var(--main-color);
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    border: 2px solid var(--main-color);
    border-radius: 2rem;
    transition: all ease .50s;
}
.s-btnn:hover{
    transform: scale(1.1);
    background: transparent;
    background-origin: 2px solid var(--main-color);
}
.service-box:hover{
    transform: translateY(-8px);
    border: 1px solid #4e5055;
}
.contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 7rem;
}
.left-contact{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 4rem;
}
.in i{
    color: var(--main-color);
    opacity: .5;
    font-size: 120px;
    margin-bottom: 15px;
    transform: all ease .40s;
}
.in i:hover{
    opacity: 1;
    cursor: pointer;
}
.in h4{
    font-size: 27px;
    font-weight: 600;
    letter-spacing: 1px;
}
.right-contact h2{
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 5px;
}
.right-contact a{
    display: inline-block;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 2px;
    border-bottom: 2px solid var(--main-color);
    padding: 3px 0;
    transition: all ease .40s;
}
.right-contact a:hover{
    transform: translateY(-5px);
    color: var(--text-color);
    border-bottom: 2px solid var(--text-color);
}
.right-contact p{
    color: var(--other-color);
    font-size: var(--p-font);
    line-height: 30px;
}
.end-section{
    padding: 80px 19% 70px;
    background: var(--secont-bg-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.end-section h3{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}
.end-section p{
    color: var(--other-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 20px;
}
.end-section i{
    height: 40px;
    width: 40px;
    background: var(--main-color);
    color: var(--text-color);
    border: 2px solid var(--main-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%;
    margin: 0 9px;
    transition: all ease .50s;
}
.end-section i:hover{
    transform: translateY(-5px);
    background: transparent;
    border: 2px solid var(--main-color);
}
.scroll-bttn{
    position: fixed;
    right: 2.2rem;
    bottom: 2.2rem;
    color: var(--text-color);
    background: var(--main-color);
    font-size: 23px;
    padding: 9px;
    border-radius: 0.8rem;
}
@media (max-width: 1080px){
    header{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .logo{
        margin-left: 35px;
    }
    .home{
        flex-direction: column-reverse;
        display: flex;
    }
    .hero-text{
        text-align: center;
        margin-top: 10px;
    }
    h3{
        font-size: 25px;
    }
    h1{
        font-size: 20px;
    }
    h4{
        font-size: 15px;
    }
    .about{
        flex-direction: column;
        display: flex;
    }
    .contact{
        /* display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, auto)); */
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        align-items: center;
        gap: 4rem;
    }
    .left-contact{
        display: flex;
        align-items: center;
        text-align: center;
        gap: 4rem;
    }
    .in i{
        color: var(--main-color);
        opacity: .5;
        font-size: 120px;
        margin-bottom: 15px;
        transform: all ease .40s;
    }
    .nav{
        padding: 10px 20px;
    }
    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 250px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        row-gap: .5rem;
        text-align: left;
        box-shadow: 2px 2px 15px rgb(15 54 55 / 15%);
        transition: .8s;
    }
    .navlist a{
        display: block;
        padding: 15px;
    }
    .navlist.active{
        right: 0;

    }
    
    #menu-icon{
        display: initial;
        font-size: 45px;
        transition: 1s;
    }
    #menu-icon a{
        transition: .8s;
    }
}
@media (max-width: 535px){
    .left-contact{
        display: flex;
        flex-direction: column;
    }
    .hero-text h3{
        font-size: 28px;
    }
    .hero-text{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .home{
        height: 100vh;
        width: 100%;
        background-image:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url(img2.jpg) ;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .left-img{
        display: none;
    }
    .logo{
        margin-left: 25px;
    }
}
@media (max-width: 400px){
    .hero-text{
        position: absolute;
        top: 50%;

    }
    .hero-text h3{
        font-size: 30px;
    }
    .hero-text h1{
        font-size: 50px;
    }
    .about-text h2{
        font-size: 40px;
    }
    .text-center h4{
        margin-top: 20px;
    }
}